{% extends 'blog/base.html' %}

{% block body %}
    {% if user.is_authenticated %}
      <div class="text-right mr-5">
        <a class="btn btn-outline-info" href="{% url 'post_update' post.id %}">Update Post</a>
        <a class="btn btn-outline-danger" href="{% url 'post_delete' post.id %}">Delete Post</a>
      </div>
    {% endif %}
    <div class="post-title mt-5">
        <h1>{{ post.title }}</h1>
    </div>
    {% if post.images %}
        <div class="post-image">
            <img src="{{ post.images.url }}" alt="">
        </div>
    {% endif %}
    <div class="post-content">
        <p>{{ post.content|linebreaks }}</p>
    </div>


{% endblock body %}