body {
    background-color: aliceblue;
}
.post-image, .post-title, .post-content, .post-author-date {
    align-items: center;
    text-align: center;
}

.post-image {
    padding: 3%;
}

a {
    text-decoration: none !important;
}